$cordeFundo:black;
$textColor:white;

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
};

body {
    background-color: $cordeFundo;
}

.movie{
    display:block;
    padding-top: 5px;
    justify-content: center;
    box-sizing: border-box;
    padding: 30px;
}

.logo{
    width: 15%;
}

p {
    color: $textColor;
    padding: 15px;
    padding-bottom: 5px;
}

